QuanLyBanHang/Service References/BanHangService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" />
  <xs:element name="NhanVien_CheckLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_CheckLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_CheckLogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_GetNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q1:NhanVien" />
        <xs:element minOccurs="0" name="strsearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_GetNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_GetNhanVienResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_GetNhanVienByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_GetNhanVienByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="NhanVien_GetNhanVienByIDResult" nillable="true" type="q2:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_UpdatePersonalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q3:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_UpdatePersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_UpdatePersonalInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q4:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q5:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manhanvien" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanVien_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhanVien_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_GetPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q6:PhieuNhap" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_GetPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhap_GetPhieuNhapResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_LoadChiTiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_LoadChiTietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="PhieuNhap_LoadChiTietResult" nillable="true" type="q7:ArrayOfPhieuNhapCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhap_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_GetNewID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_GetNewIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhap_GetNewIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q8:PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhap_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q9:PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhap_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhap_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuXuat_GetPhieuXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q10:PhieuXuat" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuXuat_GetPhieuXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuXuat_GetPhieuXuatResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q11:HoaDon" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDon_GetHoaDonResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q12:KhachHang" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHang_GetKhachHangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuThu_GetPhieuThu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q13:PhieuThu" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuThu_GetPhieuThuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuThu_GetPhieuThuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_GetSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q14:SanPham" />
        <xs:element minOccurs="0" name="strsearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_GetSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="SanPham_GetSanPhamResult" nillable="true" type="q15:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SanPham_SearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q16:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SanPham_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q17:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SanPham_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SanPham_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SanPham_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonVi_GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DonVi_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="DonVi_GetDataResult" nillable="true" type="q18:DonVi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonVi_UpdateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q19:DonVi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonVi_UpdateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonVi_UpdateInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="DonViTinh_GetDataResult" nillable="true" type="q20:ArrayOfDonViTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="DonViTinh_SearchResult" nillable="true" type="q21:ArrayOfDonViTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q22:DonViTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonViTinh_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q23:DonViTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonViTinh_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mansp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonViTinh_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonViTinh_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="NhomSanPham_GetDataResult" nillable="true" type="q24:ArrayOfNhomSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="NhomSanPham_SearchResult" nillable="true" type="q25:ArrayOfNhomSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q26:NhomSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhomSanPham_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q27:NhomSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhomSanPham_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mansp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomSanPham_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhomSanPham_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_GetBaoGia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q28:BaoGia" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_GetBaoGiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoGia_GetBaoGiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_LoadChiTiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mabg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_LoadChiTietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="BaoGia_LoadChiTietResult" nillable="true" type="q29:ArrayOfBaoGiaCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q30:BaoGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoGia_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q31:BaoGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoGia_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mabg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoGia_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_GetNewID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoGia_GetNewIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoGia_GetNewIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_GetDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="inp" nillable="true" type="q32:DonDatHang" />
        <xs:element minOccurs="0" name="swhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_GetDonHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonDatHang_GetDonHangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_LoadChiTiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_LoadChiTietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QuanLiBanHang_BDO" minOccurs="0" name="DonDatHang_LoadChiTietResult" nillable="true" type="q33:ArrayOfDonDatHangCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonDatHang_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonDatHang_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>